:root {
    --color-twitter-light-blue: rgb(234, 245, 252);
    --color-twitter-blue:       rgb(72,  161, 235);
    --color-twitter-green:      rgb(22,  207, 22);
    --color-twitter-red:        rgb(224, 36, 94);
    --color-twitter-bg:         rgb(231, 236, 239);
    --color-twitter-light-gray: rgb(245, 248, 250);
    --color-twitter-mid-gray:   rgb(206, 214, 220);
    --color-twitter-dark-gray:  rgb(102, 117, 130);
    --color-twitter-username:   rgb(140, 154, 165);
    --color-font-main:          rgb(0, 0, 0);
    --color-font-secondary:     #14171a;
    --color-nav-border:         rgba(0, 0, 0, 0.25);
    --color-icon-theme-light:   #ffcc00;
    --color-icon-theme-dark:    #808080;

    /* Variables pour le thème clair */
    --background-color-light: #ffffff;
    --text-color-light: #000;
    --sidebar-bg-color-light: #fff;
    --link-color-light: #000;
    --navbar-bg-color-light: #e3f2fd;
    --button-bg-color-light: #007bff;
    --button-text-color-light: #fff;

    /* Variables pour le thème sombre */
    --background-color-dark: #343a40;
    --text-color-dark: #fff;
    --sidebar-bg-color-dark: #343a40;
    --link-color-dark: #fff;
    --navbar-bg-color-dark: #212529;
    --button-bg-color-dark: #0d6efd;
    --button-text-color-dark: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

body.theme-clair {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.theme-sombre {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.sidebar-left, .grid-sidebar, #all .wrapper-left, #all .grid-sidebar, #all .box-user, #all .grid-user, #all .grid-posts, #all .border-right, #all .grid-toolbar-center, #all .input-group-login, #all .container, #all .part-1, #all .wrapper-right, #all .box-share,
#all .box-tweet, #all .tweet-container {
    background-color: var(--sidebar-bg-color-light);
    color: var(--text-color-light);
    border-color: var(--color-nav-border);
}

body.theme-sombre .sidebar-left, body.theme-sombre .grid-sidebar, body.theme-sombre #all .wrapper-left, body.theme-sombre #all .grid-sidebar, body.theme-sombre #all .box-user, body.theme-sombre #all .grid-user, body.theme-sombre #all .grid-posts,
body.theme-sombre #all .border-right, body.theme-sombre #all .grid-toolbar-center, body.theme-sombre #all .input-group-login, body.theme-sombre #all .container, body.theme-sombre #all .part-1, body.theme-sombre #all .wrapper-right,
body.theme-sombre #all .box-share, body.theme-sombre #all .box-tweet, body.theme-sombre #all .tweet-container {
    background-color: var(--sidebar-bg-color-dark);
    color: var(--text-color-dark);
    border-color: var(--color-nav-border);
}

/* Liens */
a, .wrapper-left-elements a {
    color: var(--link-color-light);
    text-decoration: none;
}

body.theme-sombre a, body.theme-sombre .wrapper-left-elements a {
    color: var(--link-color-dark);
}

/*
#all .wrapper-left-elements a {
    color: var(--link-color-light);
}
*/

#all a:hover, .logoutLink:hover {
    color: var(--color-twitter-blue);
}

/* Boutons */
.button-twittear {
    background-color: var(--button-bg-color-light);
    color: var(--button-text-color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

body.theme-sombre .button-twittear {
    background-color: var(--button-bg-color-dark);
    color: var(--button-text-color-dark);
}

/* Formulaires et Inputs */
.form-control, .search-input {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    border: 1px solid var(--sidebar-bg-color-light);
}

body.theme-sombre .form-control, body.theme-sombre .search-input {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    border: 1px solid var(--sidebar-bg-color-dark);
}

/* SIDEBAR */
#all .wrapper-left {
    display: flex !important;
    position: relative !important;
}

#all .wrapper-left .sidebar-left {
    position: fixed !important;
    width: 276px !important;
    height: 100%;
    font-size: 19px !important;
    border-right: 0.5px solid #e6ecf0 !important;
    margin-left: 40px !important;
}

.wrapper-right {
    position: fixed !important;
    right: 0;
    height: 100%;
    width: 30.5% !important;
    border-left: 0.5px solid #e6ecf0 !important;
}

#all .grid-sidebar {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 20% 80% !important;
    margin-bottom: 20px !important;
}

#all .grid-sidebar:hover {
    color: #1da1f2 !important;
    cursor: pointer !important;
}

#all .icon-sidebar-align {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#all .icon-sidebar-align i {
    font-size: 25px !important
}

#all .bg-active {
    color: #1da1f2 !important;
    font-weight: bold !important;
}

.wrapper-left a {
    color: #000000;
}

.wrapper-left a:hover {
    text-decoration: none;
    color: #1DA1F2;
}

#all .wrapper-left-active {
    color: #1DA1F2;
}

#all .theme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

#all .nav-item {
    margin-left: -13%;
}

#all .theme i {
    font-size: 20px;
}

#all .theme .bi-sun-fill {
    color: var(--color-icon-theme-light);
}

#all .theme .bi-moon-fill {
    color: var(--color-icon-theme-dark);
}

/* BUTTON TWITTEAR */
#all .button-twittear {
    display: inline-block;
    color: #ffffff;
    height: 49px;
    width: 230px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 28px 28px 28px 28px;
    -moz-border-radius: 28px 28px 28px 28px;
    -webkit-border-radius: 28px 28px 28px 28px;
    border: 0px solid #000000;
    cursor: pointer;
    margin-left: 5px;
    background: #1da1f2;
    font-weight: 900;
    transition: 0.3s;
}

#all .button-twittear:hover {
    transition: 0.3s;
    background-color: #2290d4;
}

#all .box-user {
    margin-top: 110%;
    padding: 4%;
}

#all .grid-user {
    display: grid;
    grid-template-columns: 20% auto;
    align-items: center;
    padding: 4%;
    column-gap: 6%;
}

#all .img-user {
    height: 49px;
    width: 49px;
    border-radius: 50px;
}

#all .name {
    font-size: 15px;
}

#all .username {
    margin-top: 3px;
    font-size: 15px;
    color: var(--color-twitter-username);
}

/* INPUT SEARCH*/
#all .grid-posts {
    display: grid;
    grid-template-columns: 64.8% auto;
    background-color: rgb(255, 255, 255);
    margin-left: 7%;
}

#all .center-input-search {
    margin-top: 10px;
    margin-left: 29%;
    margin-right: -5%;
}

#all  button,
#all input {
    overflow: visible;
}

#all .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    height: 37px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #e6ecf0;
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
}

#all .input-border-none {
    outline: none;
}

#all .fondo-icon {
    background: #e6ecf0;
}

#all .box-search {
    width: 100%;
    background-color: white;
}

/* BOX OF INPUT */
#all .grid-toolbar-center {
    display: grid;
    grid-template-columns: 95% 10%;
}

#all .mt-icon-settings {
    margin-top: 15px;
}

/* BOX-HOME FEED */
#all .box-home {
    background-color: var(--sidebar-bg-color-light);
    color: var(--text-color-light);
    border-color: var(--color-nav-border);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 25%;
}

#all .box-home .container {
    margin-left: 1.5%;
}

#all .box-home .box-name {
    margin-top: -4%;
    margin-left: -1.5%;
}

body.theme-sombre #all .box-home {
    background-color: var(--sidebar-bg-color-dark);
    color: var(--text-color-dark);
}

#all .box-home .box-name .col-xs-10 {
    margin-left: 20%;
    margin-top: -20%;
}

#all .box-home .box-name .home-name {
    font-weight: bold;
    font-size: 20px;
}

#all .box-home .box-name .home-tweets-num {
    font-size: 13px;
    color: var(--color-twitter-username);
}

#all .box-home .home-img-user {
    height: 180px;
    width: 200px;
    margin-top: -18%;
    margin-left: 2%;
}

#all .edit-btn {
    width: 20%;
    margin-top: 1%;
}

#all .follow-btn, .edit-btn{
    display: inline-block;
    color: #1DA1F2;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 1.2rem;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 28px 28px 28px 28px;
    -moz-border-radius: 28px 28px 28px 28px;
    -webkit-border-radius: 28px 28px 28px 28px;
    border: 1px solid #1DA1F2;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 15px;
    background: transparent;
    font-weight: 700;
    transition: 0.3s;
}

#all .follow-btn-m, .edit-btn-m{
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    height: auto;
    margin: 0 0 0 0 ;
}

#all .follow:hover {
    transition: 0.5s;
    background-color: rgb(194, 223, 248);
}

#all .following {
    transition: 0.5s;
    background-color: #2290D4;
    color: white;
}

#all .following:hover {
    transition: 0.5s;
    background-color: #CA2055;
    color: white;
}

#all .home-title {
    margin-left: 3%;
    margin-top: 1%;
}

#all .user-handle {
    color: gray;
    margin-top: -1%;
}

button:focus {
    outline: none;
}

#all .follows-you {
    margin-left: 1%;
    font-size: 13px;
    font-weight: 500;
    color: #6C7F90;
    background-color: #EBEEF0;
    padding: 3px;
    border-radius: 6px;
}

#all .bio {
    margin-top: 1%;
    margin-bottom: 3%;
}

#all .home-loc-link {
    margin-left: 1%;
}

#all .home-follow {
    color: gray;
    position: relative;
    margin-left: 1%;
}

.users-count {
    z-index: 80;
}

#all .home-follow-count {
    color: black;
    font-weight: 600;
    z-index: 50;
}

#all .home-follow i:hover {
    border-bottom: 2px solid black;
}

/* BOX-POST */
/* POSTS OF TWITTER */
#all .box-fixed {
    margin: 2% 1.5% 0 29%;
}

#all .tweet {
    margin: 3% auto 2%;
    padding: 2%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0, rgba(255, 255, 255, 0.8) -6px -2px 16px 0;
}

#all .hashtag, #all .arobase {
    color: var(--color-twitter-blue);
    text-decoration: none;
}

#all .hashtag:hover, #all .arobase:hover {
    text-decoration: underline;
}

#user-suggestions {
    display: none;
}

#user-suggestions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestions {
    position: absolute;
    width: 25%;
    max-height: 20%;
    overflow-y: auto;
    background-color: white;
    z-index: 999;
    margin: auto 0 0 5%;
}

#user-suggestions .grid-user {
    padding: 3%;
    column-gap: 0;
}


#all .tweet-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 5px;
}

#all .tweet-header .tweet-profile {
    height: 47px;
    width: 47px;
    border-radius: 50%;
    margin: 3px 6px;
}

#all .tweet-text {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
    margin-top: -3%;
}

#all .tweet-author {
    font-weight: bold;
}

#all .tweet-author-handle {
    font-size: 13px;
    margin-top: 2px;
    color: var(--color-twitter-username);
}

#all .tweet-message {
    padding: 2%;
    margin-left: 8%;
    margin-top: -5%;
}

#all .tweet-content {
    margin: -4% 2% 8% 10%;
}

#all .tweet-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    margin: 2% auto -1%;
}

#all .tweet-stats .fa-comment:hover {
    cursor: pointer;
    color: var(--color-twitter-blue);
}

#all .tweet-stats .fa-retweet:hover {
    cursor: pointer;
    color: var(--color-twitter-green);
}

#all .tweet-stats .fa-heart:hover {
    cursor: pointer;
    color: var(--color-twitter-red);
}

/* BOX-SHARE */
#all .box-share{
    margin: 20px 60px 20px 20px;
    border-radius: 10px;
    background-color: #F5F8FA;
}

#all .box-share-users{
    margin: 5px 15px 5px 5px;
    border-radius: 10px;
    background-color: #ffffff;
}

#all .grid-share{
    padding: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 18% 56% auto;
    transition: 0.5s;
}

#all .grid-users {
    grid-template-columns: 15% 60% auto;

}

#all .grid-share:hover{
    transition: 0.5s;
    background-color: #E6ECF0;
}

#all  .txt-share{
    font-size: 19px;
    padding: 10px;
}

#all .img-share{
    height: 49px;
    width: 49px;
    border-radius: 50px;
}

/* BUTTON SIGNUP */
#all .button-signup {
    display: inline-block;
    font-weight: 400;
    color: #1DA1F2;
    height: auto;
    width: 78px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    /* BORDER RADIUS */
    border-radius: 28px 28px 28px 28px;
    -moz-border-radius: 28px 28px 28px 28px;
    -webkit-border-radius: 28px 28px 28px 28px;
    border: 1px solid #1DA1F2;
    cursor: pointer;
    background-color: transparent;
}

#whathappen h2{
    padding: 3px;
    margin:5px;
    margin-left: 8px;
    font-weight: 800;
    font-size: 19px;
}

#whathappen .nav-item{
    margin-right: 5px;
}

#whathappen .nav-item i {
    padding: 3px;
    width: 30px;
}

#whathappen img{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin: 6px;
    /* padding 5px; */
}

#whathappen .header{
    border: 1px solid rgb(211, 223, 233);
    display: flex;
    justify-content: space-between;
    border-top: none;
}

#whathappen button{
    border: 1px solid rgb(211, 223, 233);;
    border-radius:50%;
    color: white;
    background-color: rgb(211, 223, 233);
    transition: 1s;
    padding: 5px 10px;

}

#whathappen button:hover{
    background-color: rgb(21, 32, 100);

}

#whathappen .container{
    width: 100%;
    margin: 0 auto;
}

#whathappen form{
    border: 1px solid rgb(211, 223, 233);
    color: white;
}

#whathappen textarea{
    width: 100%;
    background-color: var(--background-color-light);
    border: none;
    color: black;
    font-size: 16px;
    padding: 10px;
    height: 90%;
}

body.theme-sombre #whathappen textarea{
    background-color: var(--sidebar-bg-color-dark);
    color: var(--text-color-dark);
    border-color: var(--color-nav-border);
}

#whathappen ::placeholder{
    text-align: left;
    font-weight: 700;
    font-size: 20px;;
}

#whathappen .text{
    display: flex;
    flex-direction: row;
}

#whathappen .inner{
    display: flex;
    padding: 10px;
    height: 90px;
}

#whathappen .image{
    padding:50px 0;
}

#whathappen label{
    text-align: left;
}

#whathappen .ml-3 {
    margin-left: 25px;
    margin-top: 18px;
}

#whathappen .bottom{
    display: flex;
    justify-content: space-between;
}

#whathappen .submit{
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 172, 237);
    /* margin: 5px; */
    margin-top: 12px;
    margin-right: 5px;
    padding: 3px;
    width: 70px;
    height: 39px;
    color: white;
    font-weight: 700;
}

#whathappen .submit:hover{
    opacity:0.8;
    cursor:pointer;
}

#whathappen .bioCount{
    color :rgb(0, 172, 237);
    font-size: 14px;
    font-weight: 600;
    margin-right: 7px;
}

#whathappen .hash-box-items{
    margin-right: 10px;
}

#whathappen i {
    color: rgb(0, 172, 237);
    font-size: 25px;

}

#whathappen .bottom-container{
    display:grid;
    grid-template-columns: 30px 0px 0px;
    grid-template-rows: 60px;
}

#whathappen .item1-pair{
    align-self: center;
    justify-self:center;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: transparent;
    padding: 7px;
    border-radius: 50%;

}

#whathappen .item1-pair:hover {
    background-color: #CCE6F0;
    transition: .5s all;
}

#whathappen  .item1-pair {
    margin-top: 20px;
    grid-row: 1/2;
}

#whathappen .item2{
    opacity:0;
    grid-column-start: 2;
    grid-column-end: 4;
    color: black;
}

#whathappen .item2:hover{
    opacity: 0.2
}

#whathappen .item2-pair{
    grid-column-start: 2;
    grid-column-end: 4;
    color: #8b8686;
    font-size: 15px;
    font-weight: 800;
}

#whathappen .item2,.item2-pair{
    grid-row: 1/2;
}

#whathappen .item3{
    opacity: 0;
    grid-column-start: 3;
    grid-column-end: 4;
}

#whathappen .item3:hover{
    opacity: 0.2
}

#whathappen .item3-pair{
    align-self: center;
    justify-self: center;
    grid-column-start: 3;
    grid-column-end: 4;

}

#whathappen .item3, .item3-pair{
    grid-row:1/2;
}

#whathappen .item4{
    opacity: 0;
    grid-column-start: 4;
    grid-column-end: 5;
}

#whathappen .item4:hover{
    opacity: 0.2
}

#whathappen .item4-pair{
    align-self: center;
    justify-self: center;
    grid-column-start: 4;
    grid-column-end: 5;

}

#whathappen .item4, .item4-pair{
    grid-row:1/2;
}

#whathappen .text-whathappen:focus {
    outline: none !important;
    border-color: #719ECE;
    font-size: 19px;
}

#whathappen textarea {
    resize: none;
}

#all p {
    margin: 0 ;
}

.bi-search {
    margin-top: 2%;
    margin-right: 2%;
}

.search-input {
    background-color: #E9ECEF !important;
    border-radius: 20px !important;
    padding-left: 40px;
}

.search-input:focus {
    background-color: white !important;
}

.nav-right-down-wrap{
    width: 85%;
    border: 2px solid #ccc;
    overflow: auto;
    position: absolute;
    background: #fff;
    top: 45px;
    left: 8px;
    border-radius: 5px;
    max-height:400px ;
    z-index: 20;


}

.nav-right-down-inner {
    height: 60px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;

}

.nav-right-down-wrap ul {
    margin-bottom: 0;

}

.nav-right-down-inner{
    overflow: hidden;
    cursor: pointer;
}

.nav-right-down-wrap ul{
    float: none !important;
}

.nav-right-down-left{
    float: left;
    margin: 0px 5px 0px 0px;
}

.nav-right-down-left img{
    width: 42px !important;
    height: 42px;
    border-radius: 50%;
}

.nav-right-down-right-headline a{
    font-weight: 700;
    padding: 0px 2px;
    font-size: 14px;
    color: black;

}

.nav-right-down-right-headline a{
    font-weight: 700;
    padding: 0px 2px;
    font-size: 14px;
    color: black;

}

.nav-right-down-right-headline {
    margin-top: 5px;

}

.nav-right-down-right-headline span{
    color: #A1A1A1;
}

.nav-right-down-right{
    float: left;
    margin: 0px 2px;
}

.bottom-container > input
{
    display: none;
}

.bottom-container i
{
    /* width: 80px; */
    cursor: pointer;
}

/* hashtag */

.hash-box{
    position: absolute;
    z-index: 50;
    background: white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 0 10px 0 #cacaca;
    display: block;
    overflow: auto;
    max-height: 250px;
    margin-left: 60px;
}

.hash-box ul li{
    padding: 10px 15px 10px 10px;
    font-weight: bold;
    cursor: pointer;
}

.hash-box ul li:hover{
    background: #1DA1F2;
}

.hash-box ul li:hover > a{
    color: white;
}

.hash-box ul li a{
    display: block;
    text-decoration:none;
    color: #716868;

}

.hash-tweet {
    color: #1da1f2;
    font-weight: 500;
    position:relative ;z-index: 40;
}

.unclick {
    pointer-events: none;
}

/* popup */

.wrap5{
    background-color: rgba(0, 0, 0, 0.34);
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    z-index: 10000;
    /* overflow-y: scroll; */
    display: block;
}

.retweet-popup-body-wrap{
    width: 580px;
    height: auto;
    margin: 0px auto;
    top: 13%;
    position: relative;
    background:#fff;
    border-radius: 5px;
    border: 1px solid #9E9E9E;
    overflow: auto;
    max-height: 600px;

}

.popup-users {
    width: 520px;
    min-height: 350px ;
    max-height: 500px;

}

.retweet-popup-heading h3{
    font-weight: normal;
    font-size: 16px;
    color: black;
}

.retweet-popup-heading{
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid #dde2e6;
}

.users {
    text-align: left;
    margin-left: 10px;

}

.users h3 {
    font-weight: 800;
    font-size: 17px;
    position: relative;
    top:10px;
    /* padding-top: 10px; */
    /* margin-top: 10px; */
}

.retweet-popup-heading button{
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.retweet-popup-heading span{
    float: right;
    position: relative;
    top: -18px;
    right: 7px;
    font-size: 14px;
    cursor:pointer;
}

.retweet-popup-heading span i{
    color: #afb1b3;
}

.retweet-popup-input{
    background: rgba(127, 196, 0, 0.18);
    padding: 10px;
}

.retweet-popup-input-inner{
    width:99%;
}

.retweet-popup-input-inner input[type="text"]{
    width: 96%;
    padding: 8px 10px;
    border-radius: 0px;
    border: 1px solid #dedede;
}

.retweet-popup-comment-wrap{
    width: 95%;
    margin: 10px auto;
    overflow: hidden;
}

.retweet-popup-comment-head{
    overflow: hidden;
    float: left;
}

.retweet-popup-comment-head img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.retweet-popup-comment-headline{
    float: left
}

.retweet-popup-comment-headline a{
    color:#333;
    text-decoration: none;
    font-weight: bold;
}

.retweet-popup-comment-headline span{
    color: #aeaeae;
    font-weight: normal;
    font-size: 12px;
}

.retweet-popup-comment-body{
    float: left;
    overflow: hidden;
    color: #424242;
    font-size: 14px;
}

.retweet-popup-comment-right-wrap{
    width: 90%;
    overflow: hidden;
    float: left;
    margin: 0px 0px 0px 5px;
}

.retweet-popup-footer-right{
    float: right;
}

.retweet-popup-footer-right button[type="submit"]{
    background: #3a8efb;
    padding: 8px 10px;
    border: 1px solid #E7E7E7;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.retweet-popup-footer-right button[type="submit"]:hover{
    background: #499bea; /* Old browsers */
    background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #499bea 0%,#207ce5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}

.retweet-popup-footer-right button[type="submit"]:active{
    background: #3a8efb;
    box-shadow: inset 0px 0px 3px black;
}

.retweet-popup-footer-right button i{
    margin: 0px 3px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 1px;
}

.retweed-name {
    font-weight: 700;
    font-size: 13px;
    color: rgb(102, 117, 130);
    margin-left: 40px;

}

.retweet-name-i {
    font-size: 17px;
    margin-right: 5px;

}

#all .retweeted {
    color: rgb(22, 207, 22);
}

.comment-post {
    border-radius: 15px;
    border: 3px solid #ebe9e9;
    color: black;
    text-decoration: none;

}

.comment-post:hover {
    color: #000000;
    background-color: #EFEFEF;
    text-decoration: none;
    transition: .2s;

}

.arrow-style {
    /* margin-left: 10px; */
    color: rgb(72,  161, 235);
    /* margin-top: 8px; */
    transition: 0.5s;
    padding: 10px;

}

.arrow-style:hover {
    /* padding: 10px;   */
    border-radius: 50%;
    transition: 0.5s;
    background-color: rgb(186, 202, 216);
}

.tweet-name {
    margin-top: 5px;
    font-size: 18px;
    /* padding: 10px; */

}


#all .retweet-div {
    width: 140px;
    /* height: 100px; */
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 100;
    box-shadow: 1px 2px 4px rgb(0, 0, 0 , .4);
    display: inline-block;
    right: 55%;

}

#all .retweet-div li {
    border-bottom: 1px solid #d8e1eb;
    /* text-align: center; */
    padding: 10px;
    color: #000000;
    font-size: 15px;
}

#all .retweet-div .icon {
    text-align: left;
    /* margin-left: 30px; */
    color: gray ;
    width: 20%;
    float: left;
}

#all .retweet-div .option-text{
    /* text-align: right; */
    /* margin-left: 30px; */
    display: inline-block;
    width: 80%;
    text-align: center;


}

#all .retweet-div span {
    text-align: right;
    /* margin-left: 30px; */

}

#all .retweet-div li:hover {
    background-color: #F7F7F7;
    border-radius: 10px;
}

#all .retweet-div a:hover {
    text-decoration: none;
}


.notify-count {
    position: absolute;
    background-color: #1DA1F2;
    font-size: 11px;
    color: white;
    border-radius: 18px;
    top: -6px;
    right: 11px;
    padding: 3px;
    font-weight: 500;
}


@media only screen and (max-width: 800px) {
    html {
        font-size: 13px;
    }
    .wrapper-right {
        display: none;
        width: 0;
    }

    #all .wrapper-left .button-twittear{
        display: none;
    }
    #all .wrapper-left .sidebar-left {
        position: fixed !important;
        width: 40px !important;
        height: 100%;
        background-color: #ffffff !important;
        font-size: 19px !important;
        border-right: 0.5px solid #e6ecf0 !important;
        margin-left: 15px !important;
    }
    #all .wrapper-left .grid-sidebar .wrapper-left-elements {
        display: none;
    }

    #all .wrapper-left-elements a{
        margin-top: 4px;
    }

    #all .grid-posts {
        display: grid;
        grid-template-columns: 100% auto;
        background-color: rgb(255, 255, 255);
        margin-left: 2%;
    }
    #all .border-right {
        border-right: 0.5px solid #e6ecf0;
    }
    #all .center-input-search {
        margin-left: 13%;
        margin-top: 10px;
    }


    #all .box-tweet {
        margin-top: 15px;
        margin-left: 8%;
        transition: 0.5s;
        cursor: pointer;
    }
    #all .img-post-tweet {
        height: 180.19px;
        width: 310px;
        border-radius: 10px;
    }
    #all .img-post-retweet{
        height: 200.19px;
        width: 320px;
        border-radius: 10px;
    }
    #all .img-user-tweet {
        height: 38px;
        width: 38px;
        border-radius: 50px;
    }
    #all .box-user {
        display: none;

    }

    .retweet-popup-body-wrap{
        width: 400px;
        height: auto;
        margin: 0px auto;
        top: 13%;
        position: relative;
        background:#fff;
        border-radius: 5px;
        border: 1px solid #9E9E9E;
        overflow: auto;
        max-height: 600px;

    }
    .popup-users {
        width: 380px;
        min-height: 350px ;
        max-height: 500px;

    }
    #all .img-upload-tmp {
        height: 160px;
        width: 280px;
        border-radius: 10px;
        margin-left: 30px;
    }
    #all .upload-delete {
        top: 15px;
        right:40px;
        color:red;
        font-size:22px ;
        font-weight:800;
        z-index: 23;
        cursor:pointer;
    }
    #all .img-share{
        height: 42px;
        width: 42px;
        border-radius: 50px;
    }
    .notify-count {
        top: -6px;
        right: -10px;
    }
    #whathappen ::placeholder{
        text-align: left;
        font-weight: 700;
        font-size: 16px;;
    }
    #all .username-twitter {
        color: #6a7b8a;
        font-size: 14px;
    }

}
@media only screen and (max-width: 1200px) and (min-width: 801px) {
    html {
        font-size: 15px;
    }
    .wrapper-right {
        /* display: none; */
        width: 42% !important;
    }
    #all .wrapper-left .button-twittear{
        display: none;
    }
    #all .wrapper-left .sidebar-left {
        position: fixed !important;
        width: 40px !important;
        height: 100%;
        background-color: #ffffff !important;
        font-size: 19px !important;
        border-right: 0.5px solid #e6ecf0 !important;
        margin-left: 15px !important;
    }
    #all .wrapper-left .grid-sidebar .wrapper-left-elements {
        display: none;
    }
    #all .grid-posts {
        display: grid;
        grid-template-columns: 57% auto;
        background-color: rgb(255, 255, 255);
        margin-left: 2%;
    }
    #all .border-right {
        border-right: 0.5px solid #e6ecf0;
    }
    #all .center-input-search {
        margin-left: 13%;
        margin-top: 10px;
    }

    #all .box-tweet {
        margin-top: 15px;
        margin-left: 8%;
        transition: 0.5s;
        cursor: pointer;
    }
    #all .img-post-tweet {
        height: 180.19px;
        width: 310px;
        border-radius: 10px;
    }
    #all .img-post-retweet{
        height: 200.19px;
        width: 320px;
        border-radius: 10px;
    }
    #all .img-user-tweet {
        height: 38px;
        width: 38px;
        border-radius: 50px;
    }
    #all .box-user {
        display: none;

    }

    .retweet-popup-body-wrap{
        width: 400px;
        height: auto;
        margin: 0 auto;
        top: 13%;
        position: relative;
        background:#fff;
        border-radius: 5px;
        border: 1px solid #9E9E9E;
        overflow: auto;
        max-height: 600px;

    }
    .popup-users {
        width: 380px;
        min-height: 350px ;
        max-height: 500px;

    }
    #all .img-upload-tmp {
        height: 160px;
        width: 280px;
        border-radius: 10px;
        margin-left: 30px;
    }
    #all .upload-delete {
        top: 15px;
        right:40px;
        color:red;
        font-size:22px ;
        font-weight:800;
        z-index: 23;
        cursor:pointer;
    }
    #all .img-share{
        height: 42px;
        width: 42px;
        border-radius: 50px;
    }
    .notify-count {
        top: -6px;
        right: -10px;
    }


}
@media screen and (max-width: 350px) {
    html {
        font-size: 10px;
    }
    #all .img-post-tweet {
        height: 110px;
        width: 240px;
        border-radius: 10px;
    }
    #all .img-post-retweet{
        height: 110px;
        width: 240px;
        border-radius: 10px;
    }
    #all .img-user-tweet {
        height: 20px;
        width: 20px;
        border-radius: 50px;
    }
    #whathappen ::placeholder{
        text-align: left;
        font-weight: 700;
        font-size: 15px;;
    }
    #all .username-twitter {
        color: #6a7b8a;
        font-size: 10px;
    }
}